#page-container {
    margin: 0px 40px;
}

#tab-container .tab-pane {
    margin: 0px 20px;
}

#tab-container .tab-pane h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 600px;
}
